*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------FORM-------------*/
.form-banner img {
   height: 100%;
   width: 100%;
}
.form-container{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}
.title{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.border1{
  border: 1px solid #99d9ee;
  border-radius: 20px;
  padding:8%;
  /* box-shadow: 10px 10px rgb(177, 223, 232); */
  box-shadow: 0 4px 8px 0 rgba(160, 209, 224, 0.2), 0 6px 20px 0 rgba(27, 30, 32, 0.19);
}
/* -----------loader---------- */

.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
}

.loader{
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color:red ;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

}

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

/* navbar */
.navbar {
  background-color: #323738 !important;
  color: white !important;
}
.nav-link,
.navbar-brand {
  background-color:  feffdf !important;
  color: white !important;
}